header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
.connect-wallet-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.connect-wallet-button:hover {
  background-color: #0056b3;
}

.wallet-display {
  font-size: 14px;
  color: #007bff;
  font-weight: bold;
  margin-left: 10px;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #cc0000;
}

