/* Header.css */
.custom-header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.connect-wallet-button {
  font-size: 0.9rem;
  margin-right: 15px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-item {
  margin-left: 10px;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: #ffffff !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #00bcd4 !important;
}

.btn-outline-light {
  border-color: #00bcd4;
}

.btn-outline-light:hover {
  background-color: #00bcd4;
  color: #fff;
}
